<div class="col-12 col-md-6 col-lg-4">
  <div class="card my-3">

    <%= link_to listing_path(listing), class: "text-decoration-none" do %>

      <% if listing.photos.first %>
        <div class="img-holder">
          <%= cl_image_tag listing.photos.first.key, crop: :scale, class: "img-fluid" %>
        </div>
      <% else %>
        <img src="https://source.unsplash.com/200x200/?sneaker" class="card-img-top" alt="sneaker image">
      <% end %>

      <% if user_signed_in? %>
        <% if current_user.id == listing.seller_id %>
          <div class="your-listing-tag top-left">Your listing</div>
        <% end %>
      <% end %>

      <div class="card-body">
        <h3 class="card-title"><strong><%= listing.brand.capitalize %> <%= listing.sneaker_model_name.capitalize %></strong></h3>

        <div class="card-text d-flex justify-content-between align-items-end">
          <p><%= listing.size %><br><%= listing.gender.capitalize %></p>
          <p>SGD <strong><%= listing.price %></strong></p>
        </div>

        <%= link_to "View shoe", listing_path(listing), class: "btn btn-primary btn-block" %>
      </div>

    <% end %>

  </div>
</div>
