<div class="container">
  <% if @seller == current_user %>
    <h1>Your listings</h1>

    <div>
      <%= link_to 'Listed', seller_path(current_user), class: 'mr-3' %>

      <%= link_to 'To be shipped', seller_path(current_user), class: 'mr-3' %>

      <%= link_to new_listing_path, class: "btn btn-primary"  do %>
        <i class="fas fa-plus pr-2"></i>Create listing
      <% end %>
    </div>

  <% else %>
    <h1><%= @seller.email %> listings</h1>
  <% end %>

  <%= render @listings %>

</div>
