<div class="container">

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="py-5">
        <img class="img-fluid w-100" src="https://source.unsplash.com/450x450/?sneaker" alt="sneakers">
      </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="d-flex justify-content-between pt-5">
          <div>
            <h1><strong><%= @listing.sneaker_model_name %></strong></h1>
            <h3><strong><%= @listing.brand %></strong></h3>
            <p class="pt-5">Condition: <%= @listing.condition %></p>
          </div>

          <% if current_user == @listing.seller %>
            <%= link_to edit_listing_path(@listing) do %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
        </div>

        <div class="text-center">


            <table class="table table-white table-sm align-middle text-center">
              <thead>
                <tr>
                  <th scope="col">Size</th>
                  <th scope="col">Gender</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @listing.size %></td>
                  <td><%= @listing.gender %></td>
                </tr>
              </tbody>
            </table>

            <h4 class="pt-5 pb-2">SGD <%= @listing.price %></h4>

          <%= link_to "Buy", checkout_path, id: "buy-btn", class: 'btn btn-lg btn-primary' %>
        </div>

    </div>
  </div>
</div>
