<div class="container">
  <div class="row no-gutters">
    <div class="col-6">
      <img class="img-fluid" src="https://source.unsplash.com/450x450/?sneaker" alt="sneakers">
    </div>
    <div id="listing_content" class="col-6 display-flex align-middle mt-3">
      <div class="content pl-3">
        <h3>Model: <%= @listing.sneaker_model_name %></h3>
        <h3>Brand: <%= @listing.brand %></h3>
        <h4>$ <%= @listing.price %></h4>
        <p>Condition: <%= @listing.condition %></p>

        <div class="text-center border-left">

          <div id="size-and-gender-table">
            <table class="table table-dark table-sm align-middle text-center">
              <thead>
                <tr>
                  <th scope="col">Size</th>
                  <th scope="col">Gender</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @listing.size %></td>
                  <td><%= @listing.gender %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <%= link_to "Buy", checkout_path, id: "buy-btn", class: 'btn btn-lg btn-primary' %>

        </div>
      </div>
    </div>
  </div>
</div>
