<div class='border-top border-bottom'>
  <div class="d-flex justify-content-between px-5 py-2">

    <div>
      <p class='m-0'>First name: <%= shippingdetail.firstname %></p>
      <p class='m-0'>Last name: <%= shippingdetail.lastname %></p>
      <p class='m-0'>Contact Number: <%= shippingdetail.contact %></p>
      <p class='m-0'>Address: <%= shippingdetail.address %></p>
      <p class='m-0'>City: <%= shippingdetail.city %></p>
      <p class='m-0'>Country: <%= shippingdetail.country %></p>
      <p class='m-0'>Postal Code:<%= shippingdetail.postal %></p>
    </div>

    <div class="d-flex flex-column justify-content-center">
      <%= link_to 'Use shipping details' %>
      <form action="<%= shippingdetail_path(shippingdetail) %>" method="delete">
        <input type="submit" value="Delete">
      </form>

    </div>
  </div>
</div>
