<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">

  <ul class="navbar-nav mr-auto">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <li class="nav-item active pr-2">
      <%= link_to "All", "/", class: "nav-link" %>
    </li>
    <li class="nav-item active pr-2">
      <%= link_to "Male", "/", class: "nav-link" %>
    </li>
    <li class="nav-item active pr-2">
      <%= link_to "Female", "/", class: "nav-link" %>
    </li>
    <li class="nav-item active pr-2">
      <%= link_to "Unisex", "/", class: "nav-link" %>
    </li>
  </ul>

  <% if user_signed_in? %>
    <div class="nav-item dropdown text-white px-3">
      <div class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar mr-1" %>
        <%= current_user.email %>
        <% #, id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </div>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "My listings/orders", seller_path(current_user), class: "dropdown-item" %>
        <%= link_to "Action", "#", class: "dropdown-item" %>
        <%= link_to "Another action", "#", class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <div class="nav-item text-white">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>

</div>
