<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <div class="border">
        <div>
          <h2 class="px-5 py-3">Checkout</h2>
          <% unless @shippingdetails.nil? %>
            <%= render @shippingdetails %>
          <% else %>
            <p>There is no existing address</p>
          <% end %>
        </div>
        <div class='px-5 py-4'>
          <%= render "shippingdetails/newshippingdetail", newshippingdetail: @newshippingdetail, listing: @listing %>
        </div>
      </div>
    </div>
    <div class="position-relative">
      <div class="position-fixed col-4">
        <%= render "shared/checkoutitem" %>
        <div>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'id', @listing.id %>
            <%= submit_tag 'Confirm shipping', class: 'btn btn-primary btn-block mt-4' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
